* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	background-color: #fefefe;
	overflow-x: hidden;
	font-family: 'Roboto', sans-serif;
	letter-spacing: 2px;
	min-height: 300vh;
}

img {
	max-width: 100%;
	cursor: pointer;
	transition: opacity 0.5s;
	position: relative;
	border: 5px solid white;
}

img:hover {
	opacity: 0.8;
}

.hide {
	display: none;
}

.show {
	display: flex;
}

:root {
}

/* ASIDE */

.advertisement {
	position: relative;
	width: 100%;
	background-color: #82ae68;
}

.advertisement__text {
	font-size: 16px;
	color: #fff;
	display: flex;
	letter-spacing: 3px;
	justify-content: center;
	align-items: center;
	height: 40px;
}

.advertisement__closeBtn {
	position: absolute;
	padding: 5px;
	top: 0;
	right: 0;
	font-size: 20px;
	background-color: #82ae68;
	border: none;
	cursor: pointer;
}

.advertisement__closeBtn:hover {
	color: #fff;
}

/* NAV */

.nav {
	position: fixed;
	width: 100%;
	z-index: 2;
	background-color: #fff;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100px;
}

.nav__leftSide {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100%;
	max-width: 800px;
	list-style: none;
}

.nav__centerSide {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	max-width: 300px;
}

.nav__centerSide--img {
	width: 70%;
}

.nav__container--element {
	position: relative;
	font-size: 2.4em;
	font-weight: bold;
	text-transform: uppercase;
}

.nav__container--element a {
	padding: 40px;
	text-decoration: none;
	color: #4a4a4a;
}

.nav__container--element a:hover {
	color: orange;
}

.nav__container--element a {
	transition: 0.5s;
}

.nav__container--element::after {
	content: '';
	position: absolute;
	height: 3px;
	width: 0;
	left: 25%;
	bottom: -10px;
	transition: 0.5s;
	background-color: orange;
}

.nav__container--element:hover::after {
	width: 50%;
}

.nav__rightSide {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 90%;
	max-width: 800px;
}

.nav__rightSide--product {
	position: relative;
}

.nav__rightSide--product p {
	width: 20px;
	height: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 25%;
	right: 25%;
	padding: 2px;
	font-size: 14px;
	border-radius: 50%;
	background-color: orange;
}

.nav__rightSide i {
	padding: 40px;
	font-size: 30px;
	transition: color 0.3s;
	cursor: pointer;
}

.nav__rightSide i:hover {
	color: orange;
}

/* HEADER */

.header {
	display: flex;
	width: 100vw;
	height: 100%;
	max-height: 1200px;
}

.header__leftSide {
	max-width: 50%;
}

.header_rightSide {
	max-width: 50%;
}

.header__leftSide--img,
.header__rightSide--img {
	height: 100%;
}

.header_rightSide--up,
.header_rightSide--down {
	display: flex;
	width: 50%;
}

/* PROFILE USER */

.container {
	position: fixed;
	top: 0;
	left: 0;
	display: none;
	justify-content: center;
	align-items: center;
	z-index: 1;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6);
}

.container__profile {
	position: relative;
	flex-direction: column;
	display: flex;
	padding: 30px;
	align-items: center;
	width: 100%;
	max-width: 750px;
	height: 550px;
	background-color: #fff;
	z-index: 9999;
}

.container__profile--close {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: -15px;
	right: -15px;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	background-color: #ffa500;
	font-size: 30px;
	color: #fff;
	cursor: pointer;
}

.container__profile--title {
	height: 150px;
	font-size: 30px;
	color: #4a4a4a;
	font-weight: bold;
}

.container__inputs {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.container__inputsLeft {
	display: flex;
	width: 50%;
	flex-direction: column;
	padding: 0 15px;
}

.container__inputsLeft--txt,
.container__inputsRight--txt {
	font-size: 12px;
	text-transform: uppercase;
	margin-bottom: 10px;
}

.container__inputsLeft--labelEmail,
.container__inputsLeft--labelPassword {
	font-size: 14px;
	font-weight: bold;
	margin: 5px 0;
}

.container__inputsLeft--email,
.container__inputsLeft--password {
	width: 100%;
	height: 50px;
	border: 1px solid #bababa;
	padding: 20px;
}

.container__inputsLeft--email:focus,
.container__inputsLeft--password:focus {
	outline: 1px solid orange;
}

.container__inputsLeft--btn,
.container__inputsRight--btn {
	height: 40px;
	width: 100%;
	margin: 20px 0;
	background-color: #ffa500;
	border: none;
	letter-spacing: 2px;
	text-transform: uppercase;
	transition: color 0.5s, background-color 0.5s;
	cursor: pointer;
}

.container__inputsLeft--btn:hover,
.container__inputsRight--btn:hover {
	color: #ffa500;
	background-color: #4a4a4a;
}

.container__inputsRight {
	display: flex;
	flex-direction: column;
	width: 50%;
	padding: 0 15px;
}

/* LOCALSTORAGE */
.hideCookie {
	opacity: 0;
	visibility: hidden;
}

.cookie__box {
	border-top: 5px solid orange;
	position: fixed;
	bottom: 0;
	padding: 2em;
	height: 200px;
	width: 100%;
	text-align: center;
	font-size: 2rem;
	background-color: #fff;
	opacity: 0;
	transform: translateY(100%);
	animation: show-cookies 0.5s 10s forwards;
	z-index: 99999;
}

.cookie__box::before {
	content: '';
	position: absolute;
	top: -187px;
	right: 50px;
	width: 100%;
	max-width: 400px;
	height: 100%;
	max-height: 400px;
	z-index: -1;
	background-image: url('images/cookie.png');
	background-size: contain;
	background-repeat: no-repeat;
}

.cookie__box--btn {
	margin-top: 2em;
	padding: 0.5em 1em;
	font-size: 1.8rem;
	border: none;
	border-radius: 3px;
	color: #000;
	background-color: #ffa500;
	transition: background-color 0.5s, color 0.5s;
	cursor: pointer;
}
.cookie__box--btn:hover {
	color: #fff;
	background-color: #000;
}

@keyframes show-cookies {
	to {
		opacity: 1;
		transform: translateY(0);
	}
}
